<!--<div class="col-md-2">-->
  <%#= render 'layouts/sidebar' %>
<!--</div>-->
<!--<h1>Umrah Packages</h1>-->
<!--<div class="container">-->
  <%# unless @umrah_packages.nil? %>
<!--    <table class="table col-sm-10 align-self-center ">-->
<!--      <thead class="thead-dark ">-->
<!--      <tr>-->
<!--        <th scope="col">No</th>-->
<!--        <th scope="col">Package Name</th>-->
<!--        <th scope="col">Package Type</th>-->
<!--        <th scope="col">Package Price</th>-->
<!--        <th scope="col">Package Hotel</th>-->
<!--        <th scope="col"></th>-->
<!--        <th scope="col"></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
      <%# @umrah_packages.each do |package| %>
<!--        <tr>-->
<!--          <th scope="row" class="counterCell"></th>-->
<!--          <td><%#= package.title %></td>-->
<!--          <td><%#= package.package_type %></td>-->
<!--          <td><%#= package.price %></td>-->
<!--          <td><%#= package.hotel %></td>-->
<!--          <td>-->
            <%#= link_to "View Detail", umrah_package_path(package.id), method: :get, class: "btn btn-primary btn-sm primary_button_text text-white" %>
<!--          </td>-->
<!--          <td>-->
            <%#= link_to "Delete Package", umrah_package_path(package.id), method: :delete, class: "btn btn-primary btn-sm primary_button_text text-white" %>
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
  <%# else %>
    <%#= link_to "Create New Package", new_umrah_package_path, method: :get, class: "btn btn-primary btn-sm primary_button_text text-white" %>
  <%# end %>
  <%#= link_to 'New Umrah Package', new_umrah_package_path, class: "btn btn-primary btn-sm primary_button_text text-white" %>
<!--</div>-->

<!--<p id="notice"><%#= notice %></p>-->


<div>
  <%= render partial:"layouts/navbar" %>
  <div class="row" style="margin-top:100px">
    <div class="col-md-2" style="margin-left:50px">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>
      <h1 class="admin-title">Umrah Packages</h1>
      </table>
      <div class="container">
        <% unless @umrah_packages.nil? %>
          <table class="table col-sm-10 align-self-center ">
            <thead class="thead-dark ">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Package Name</th>
              <th scope="col">Package Type</th>
              <th scope="col">Package Price</th>
              <th scope="col">Package Hotel</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @umrah_packages.each do |package| %>
              <tr>
                <th scope="row" class="counterCell"></th>
                <td><%= package.title %></td>
                <td><%= package.package_type %></td>
                <td><%= package.price %></td>
                <td><%= package.hotel %></td>
                <td>
                  <%= link_to "View Detail", umrah_package_path(package.id), method: :get, class: "btn btn-primary btn-sm primary_button_text text-white", style:"font-size:12px" %>
                </td>
                <td>
                  <%= link_to "Delete Package", umrah_package_path(package.id), method: :delete, class: "btn btn-primary btn-sm primary_button_text text-white", style:"font-size:12px" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <%= link_to "Create New Package", new_umrah_package_path, method: :get, class: "btn btn-primary btn-sm primary_button_text text-white", style:"font-size:12px" %>
        <% end %>
      </div>
      <br>
      <%= link_to 'New Umrah Package', new_umrah_package_path, class: "btn btn-primary btn-sm primary_button_text text-white", style:"font-size:12px" %>
    </div>
  </div>
</div>
