<div class="container form-group col-md-8">
  <% @image ||= nil %>
  <%= form_with(model: @umrah_package, id: "umrah-package-form") do |form| %>
    <%= render partial: "admin/common/error_message", locals: { model: @umrah_package } %>
    <div class="row col-10"><%= form.label :title, "Title"%><span>*</span></div>
    <%= form.text_field :title, placeholder: "e.g Umrah Safwa", class: "form-control customer-form-wrapper", disabled: disabled, id: "input" %>

    <div class="form-group select-form-margin-top">
      <%= form.label :package_type, "Umrah Type" %>
      <%= form.select :package_type, ["Umrah Standard", "Umrah Ramadhan", "Umrah Family"], { include_blank: false }, { class: "form-control customer-form-wrapper", disabled: disabled } %>
    </div>

    <div class="form-group select-form-margin-top">
      <%= form.label :rooms_per_pax, "Jemaah Per Bilik" %>
      <%= form.select :rooms_per_pax, [2, 3, 4, 5], { include_blank: false }, { class: "form-control customer-form-wrapper", disabled: disabled, id: "pax-per-room" } %>
    </div>

    <div class="form-group">
      <div class="row col-10"><%= form.label :price, "Price" %><span>*</span></div>
      <br>
      <div class="row col-md-12">
        <label class="col-form-label" style="margin-top:0.5rem">RM</label>
        <div class="col-sm-11">
          <%= form.text_field :price, value: calculate_package_price(@umrah_package.price,'') ,class: "form-control customer-form-wrapper", disabled: disabled, id:"package-price" %>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group select-form-margin-top">
      <div class="row col-10"><%= form.label :hotel_mekah %><span>*</span></div>
      <%= form.text_field :hotel_mekah, placeholder: "e.g Hotel Safwa", class: "form-control customer-form-wrapper", disabled: disabled %>
    </div>

    <div class="form-group select-form-margin-top">
      <div class="row col-10"><%= form.label :hotel_madinah %><span>*</span></div>
      <%= form.text_field :hotel_madinah, placeholder: "e.g Hotel Nozol Royal Inn", class: "form-control customer-form-wrapper", disabled: disabled %>
    </div>

<!--    Currently doesnt need a poster in package.-->
<!--    <dl class="form-group">-->
<!--      <dd>-->
<!--        <p3>Package Poster</p3>-->
<!--      </dd>-->

      <%# if @umrah_package.image_id.present? %>
          <%# if @image %>
<!--          <dd><%#= image_tag(@umrah_package.image.picture.url, size: '150x150', class: "img-thumbnail", disabled: disabled) %></dd>-->
          <%# end  %>
        <%#= link_to "Change poster", edit_image_path(@umrah_package.image_id, is_from_package: true, package_id: @umrah_package.id), class: "btn btn-primary text-white select-form-margin-top", style: "font-size:12px" if disabled.blank? %>
      <%# else %>
        <%#= form.fields_for :image, @image_new do |image_form| %>
<!--          <div class="form-group select-form-margin-top">-->
            <%#= image_form.label :name, "Poster name" %>
            <%#= image_form.text_field :name, :class => 'form-control customer-form-wrapper' %>
<!--          </div>-->

<!--          <div class="form-group select-form-margin-top">-->
            <%#= image_form.label :picture, "Poster upload" %>
            <%#= image_form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :class => "form-control customer-form-wrapper" %>
<!--          </div>-->
        <%# end %>
      <%# end %>
<!--    </dl>-->

    <% if disabled %>
      <%= link_to "Edit Package", edit_admin_umrah_package_path(@umrah_package.id), class: "btn btn-primary text-white select-form-margin-top", style: "font-size:12px", id: "update-package" %>
    <% else %>
      <% if @umrah_package.id.nil? %>
        <%= form.submit "Register New Packages", class: "btn btn-primary text-white select-form-margin-top", style: "font-size:12px", id: "update-package" %>
      <% else %>
        <%= form.submit "Update Package", { class: "btn btn-primary text-white select-form-margin-top", style: "font-size:12px", id: "update-package" } %>
      <% end %>
    <% end %>
    </div>
  <% end %>
