<div>
  <%= render partial:"layouts/navbar" %>
  <div class="row" style="margin-top:100px">
    <div class="col-md-2" style="margin-left:50px">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>
      <h1 class="admin-title">Editing Umrah Customer</h1>
      <%= link_to 'View All Customers', admin_umrah_customers_path, class: 'btn btn-primary text-white', style: "font-size:12px" %>
      <%= render partial: 'admin/umrah_customers/common/customer_form', locals: { is_display_only: false, umrah_customer: @umrah_customer } %>
    </div>
  </div>
</div>
