<div>
  <ul id="sidebar-admin" class="navbar-nav navbar-nav-lg nav-tabs nav-stacked list-group" style="background-color: rgb(158,161,238);width:135px">

    <h1><span class="logo">TEMU</span></h1>
    <li class="navbar-vertical-aside-has-menu dropdown dropright" >

      <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle" href="#" title="Pakej" role="button" data-toggle="dropdown" >
        <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate sidebar-option">Umrah Customer</span>
      </a>

      <div class="dropdown-menu">
        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">

          <li class="nav-item dropdown-item">
            <%= link_to "Umrah Customer", admin_umrah_customers_path, class: "nav-link", title: "View customers list", style: "font-size:15px;margin-top:5px" %>
          </li>

          <li class="nav-item dropdown-item">
            <%= link_to "New Customer", new_admin_umrah_customer_path, class: "nav-link", title: "Register new customer", style: "font-size:15px;margin-top:5px" %>
          </li>

        </ul>
      </div>
    </li>

    <!-- Apps -->
    <li class="navbar-vertical-aside-has-menu dropdown dropright">

      <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle" href="#" title="Pakej" role="button" data-toggle="dropdown">
        <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate sidebar-option">Umrah Package</span>
      </a>

      <div class="dropdown-menu">
        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
          <li class="nav-item dropdown-item">
            <%= link_to "Umrah Package", admin_umrah_packages_path, class: "nav-link", title: "View package list", style: "font-size:15px;margin-top:5px" %>
          </li>
          <li class="nav-item dropdown-item">
            <%= link_to "Create new package", new_admin_umrah_package_path, class: "nav-link", title: "Create new package", style: "font-size:15px;margin-top:5px" %>
          </li>
        </ul>
      </div>
    </li>

<!--    User Roles in admin-->
    <li class="navbar-vertical-aside-has-menu dropdown dropright">
      <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle" href="#" title="Pakej" role="button" data-toggle="dropdown">
        <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate sidebar-option">
        User Roles
        </span>
      </a>

      <div class="dropdown-menu">
        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
          <li class="nav-item dropdown-item">
            <%= link_to 'See All Roles', admin_user_roles_path, class: 'nav-link', style: "font-size:15px;margin-top:5px"%>
          </li>
          <li class="nav-item dropdown-item">
            <%= link_to 'Create New Roles', new_admin_user_role_path, class: 'nav-link', style: "font-size:15px;margin-top:5px"%>
          </li>
        </ul>
      </div>

    </li>
    <!-- End Apps -->
  </ul>


</div>
