<!DOCTYPE html>
<html>
  <head>
    <title>UmrahNurani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="col-md-10 offset-md-1">
  <%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-md-2">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
